{
    "installationDirectory": "/opt/collibra/",
    "dataDirectory": "/opt/collibra_data/",
    "postgresqlPath": "/usr/pgsql-14",
    "repositoryMemory": {{ repository_memory }},
    "dgcMinMemory": {{ dgc_min_memory }},
    "dgcMaxMemory": {{ dgc_max_memory }},
    "dgcPort" : 4400,
    "dgcShutdownPort" : 4430,
    "repositoryPort" : 4403,
    "consolePort" : 4402,
    "consoleDatabasePort" : 4420,
    "agentPort" : 4401,
    "jobserverPort" : 4404,
    "jobserverDatabasePort" : 4414,
    "monitoringPort" : 4407,
    "searchHttpPort": 4421,
    "searchTransportPort": 4422,
    "searchMemory": 1024,
    "dgcContextPath" : "",
    "consoleContextPath" : "",
    "nodeHostName": "{{ ansible_hostname }}",
    "userName": "collibra",
    "userGroup": "collibra",
    "initDaemon": null,
    "componentSet": [ {% for component in component_set %}"{{ component }}"{% if not loop.last %}, {% endif %}{% endfor %} ]
}
